 h1{
    	background-color:black;
    	font-family:arial;
    	font-size:  17px;
    	color:white;
    	width:100px;
    	height:75px;
    	padding:4px 2px 5px 5px;
    	text-align: left;
    }
    
    
	.center{
		text-align: center;
		font-size: 20px;
	}


	




body{background-color: #FBE68B;}


/*unvisited link*/
a:link{color:gray;}

/*visted link*/
a:visited{color:white;}

a:hover {color:yellow;}

a:active{color:purple;}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait){}


     h1{
    	background-color:black;
    	font-family:arial;
    	font-size:  17px;
    	color:white;
    	width:100px;
    	height:75px;
    	padding:4px 2px 5px 5px;
    	text-align: left;
    }
    
    
	.center{
		text-align: center;
		font-size: 20px;
		 background-color: transparent;
  height: 100%;
  width: 95%;
  margin: 10px;
  padding: 10px;
	
}

	}

header {
	background-color: rgba(54,36,25)}

h2 {
	font-size: 2.5em;
}

p {
	font-size: 1.7em;
}

#title {
	margin-top: 140px;
	position: static;
	width: 100%;
	text-align: center;
}



	.flex-container {
  height: 100%;
  display:flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
}

.flex-container  {
  background-color: transparent;
  height: 100%;
  width: 95%;
  margin: 10px;
  padding: 10px;
	

body{background-color: #FBE68B;}


/*unvisited link*/
a:link{color:gray;}

/*visted link*/
a:visited{color:white;}

a:hover {color:yellow;}

a:active{color:purple;}