



     h1{
      background-color:black;
      font-family:arial;
      font-size:  17px;
      color:white;
      width:100px;
      height:75px;
      padding:4px 2px 5px 5px;
      text-align: left;
    }
    
    
  .center{
    text-align: center;
    font-size: 20px;
  }


  .flex-container{
  display:flex;
  align-items:flex-start;
}



.flex-container {
  height: 100%;
  
  display:flex;
  
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-content:stretch;
  align-items:stretch;

    
      padding:2px 1px 5px 5px;
      text-align: left;
}




body{background-color: #FBE68B;}


/*unvisited link*/
a:link{color:gray;}

/*visted link*/
a:visited{color:white;}

a:hover {color:yellow;}

a:active{color:purple;}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait){}


     h1{
      background-color:black;
      font-family:arial;
      font-size:  17px;
      color:white;
      width:100px;
      height:75px;
      padding:4px 2px 5px 5px;
      text-align: left;
    }
    
    
  .center{
    text-align: center;
    font-size: 20px;
  }


  .flex-container{
    color:black;
    font-size: 17px;
    text-align: center;
  }

body{background-color: #FBE68B;}


/*unvisited link*/
a:link{color:gray;}

/*visted link*/
a:visited{color:white;}

a:hover {color:yellow;}

a:active{color:purple;}